{% extends "layout.html" %}  <!-- extends to parent template -->
{% block content %}
&nbsp;
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<br>

<nav class="navbar navbar-expand-lg navbar-light bg-info nav-fill">
    <ul class="navbar-nav mr-auto">
        <a class="nav-item active">

            <form action="/list/sorted" method="get">
                <button class="btn btn-sm btn-secondary" type="submit" value="Submit">Sort</button>
                <select class="custom-select-sm" id="attribute" name="attribute">
                    <option value="submission_time">Time</option>
                    <option value="title">Title</option>
                </select>
                <select class="custom-select-sm" id="order" name="order">
                    <option selected>Order</option>
                    <option value="asc">Asc</option>
                    <option value="desc">Desc</option>
                </select>
            </form>
        </a>
    </ul>
    {% if session['username']%}
    <a class="nav-item">
        <a class="btn btn-secondary" href='/add-question' role="button">Add question</a>
    </a>
    {% endif %}
    <form class="form-inline my-2 my-lg-0" action='/list/search/'
          method="get">
        <input class="form-control mr-sm-2" id="expression" type="search" placeholder="Search for..."
               aria-label="expression" value="{{expression}}">
        <button class="btn btn-sm btn-secondary" type="submit">Search</button>
    </form>
    </div>
</nav>
<br><br>
<div class="col" align=" self-end">
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Submission time</th>
            <!-- <th scope="col">View number</th>
            <th scope="col">Vote number</th> -->
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Author</th>
            <!-- <th scope="col">Image</th> -->
        </tr>
        </thead>
        {% for question in all_questions %}
        <tr>
            <td>{{ question['submission_time'] }}</td>
            <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
            <td>{{ question.message }}</td>
            <td>{{ question.username }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock%}
